@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: "Jura", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 700;
    font-size: 24px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    font-weight: 700;
}

header ul.nav li:hover {
    opacity: 0.5;
    color: rgb(255, 136, 0);
}

header .banner {
    margin: 50px 0;
    background:  url('./img/banner.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #d6d6d6;
    position: relative;
}

header .banner:after {
    content: 'The best products for outdoor activities';
    position: absolute;
    top: 70px;
    left: 777px;
    width: 450px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .banner::before {
    content: 'Always at the best prices';
    position: absolute;
    top: 170px;
    left: 777px;
    width: 450px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    padding-bottom: 15px;
}

main .item img {
    width: 100%;
    transition: transform 500ms ease;
}

main .item img:hover {
    transform: scale(1.05);
}

main h2, 
main p, 
main b {
    margin: 10px 20px;
    color: #333;
}

main b {
    color: #5fa36a;
    font-size: 20px;
}

main .add-to-cart {
    position: absolute;
    right: 30px;
    bottom: 10px;
    background: #ca5252;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover {
    transform: scale(1.05) translateY(-5px);
}

footer {
    text-align: center;
    margin-top: 100px;
}