@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: "Jura", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 700;
    font-size: 24px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    font-weight: 700;
}

header ul.nav li:hover {
    opacity: 0.5;
    color: rgb(255, 136, 0);
}

header .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: rgb(216, 116, 2);
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #f7f6f6;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;

    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item b {
    color: #12d252;
    font-weight: 600;
}

header .shop-cart .item .delete-item {
    color: orangered;
    float: right;
    position: relative;
    top: -10px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-item:hover {
    color: red;
    transform: scale(1.5);
}

header .shop-cart .sum {
    float: left;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

header .banner {
    margin: 50px 0;
    background:  url('./img/banner.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #d6d6d6;
    position: relative;
}

header .banner:after {
    content: 'The best products for outdoor activities';
    position: absolute;
    top: 70px;
    left: 777px;
    width: 450px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .banner::before {
    content: 'Always at the best prices';
    position: absolute;
    top: 170px;
    left: 777px;
    width: 450px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.categories {
    display: flex;
    justify-content: center;
}

.categories div {
    display: inline-block;
    background: #f4f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: silver;
    transform: scale(1.1);
}

.full-item {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #60606095;
    z-index: 9999;
    overflow: auto;
}

.full-item > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 10px;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    padding-bottom: 15px;
}

main .item img, .full-item img {
    width: 100%;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item img:hover, .full-item img:hover {
    transform: scale(1.05);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b {
    margin: 10px 20px;
    color: #333;
}

main b, .full-item b {
    color: #5fa36a;
    font-size: 20px;
}

main .item-use,
.full-item .item-use {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .add-to-cart,
.full-item .add-to-cart {
    right: 30px;
    bottom: 10px;
    width: 50px;
    height: 25px;
    scale: 1.3;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.5) ;
}



footer {
    text-align: center;
    margin-top: 100px;
}